/*
---------------------------------------------------------------------------- Display Flex
*/
.project_container, .col_2_container, .responsive_box {
  display: flex;
  display: -webkit-flex;
}
/*
------------------------------------------------------------------------ Display Flex END
*/




/*
--------------------------------------------------------------------- Flex-wrap with wrap
*/
.project_container, .col_2_container, .responsive_box {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

/*
----------------------------------------------------------------- Flex-wrap with wrap END
*/




/*
------------------------------------------------------------------------- justify-content
*/
/*justify-content at flex-start*/
.project_container, .project_item {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/*justify-content at space-between content*/
.project_container, .col_2_container {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
/*
--------------------------------------------------------------------- justify-content END
*/

/* 1 1 flex auto*/
.project_container, .col_2_container {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

/* 1 flex*/
.color_item  {
  flex: 1;
  -webkit-flex: 1;
}
