/*clear floats for style of grids*/
*, *::after, *::before {
	box-sizing: border-box;
}

/*
------------------------------------------------------------------------- General styling
*/
body {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: #484848;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, a {
  font-weight: 400;
  outline: 0;
}

h1 {
  line-height: 1.6em;
}

h2 {
	font-size: 1.75em;
	color: #6A5A98;
	border-bottom: 1px solid #6A5A98;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding-bottom: 0.5em;
}

h3 {
	/*color: #A097C0;*/
	color: #D8CEC1;
}

h4{
  font-weight: 500;
}

p {
	font-size: 1em;
	line-height: 1.75em;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.center_align {
	text-align: center;
	margin: auto;
}


hr.section_divide {
  margin: 3em 0;
}

hr.subsection_divide {
  border-top: none;
  border-bottom: 1px dashed;
  margin: 3em 0;
}

figure {
	margin: 0 0 2em;
}

.project_list figure {
	margin: 0;
}

img {
  width: 100%;
  height: auto;
}

#user-flow figure img, #modified-user-flow figure img, #result figure img {
	width: 100%;
}

.logo {
	border: none;
	width: 85%;
	vertical-align: middle;
}

figure.img_resize {
	width: 60%;
	margin: auto;
	margin-bottom: 3em;
}

figcaption {
  font-size: 0.85em;
}

/*
------------------------------------------------------------------------- Navigation Style
*/
header {
  display: block;
  position: sticky;
	position: -moz-box-sticky;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
	background: #FFF;
	transition: background-color  0.5s ease;
}

.nav_container {
	width: 70%;
	margin: auto;
	line-height: 60px;
}

.nav_container a {
	text-decoration: none;
	display: inline-block;
	text-align: center;
  line-height: 40px;
  font-size: 0.95em;
  margin-left: 2em;
  color: #9B9B9B;
  transition: color  0.5s ease;
	font-weight: 400;
}

.nav_container a:hover, .nav_container a:focus {
  color: #82BAC7;
}

.nav_container div.float_left a {
	margin-left: 0;
	margin-right: 0.5em;
	line-height: 60px;
}

.nav_container div.float_left a h1 {
  margin: 0;
  line-height: normal;
  color: #A849B7;
}

.nav_container a.current_page{
  color: #82BAC7;
  border-bottom: 1px solid #82BAC7;
	font-weight: 600;
}
/*
------------------------------------------------------------------------- Navigation Style END HERE
*/




/*
------------------------------------------------------------------------- sub_navigation Style
*/
.sub_nav {
  position: fixed;
  width: 100%;
  top:60px;
  text-align: right;
  background-color: #F2F2F2;
  z-index: 800;
}

.sub_nav ul {
	margin: 0.5em auto;
	padding: 0;
	width: 70%;
}

.sub_nav li {
  display: inline-block;
}

.sub_nav li a {
  text-decoration: none;
  color: #9B9B9B;
  margin: 0 0 0 1.5em;
  font-size: 0.85em;
  font-weight: 400;
  transition: color  0.5s ease;
}

.sub_nav li a:hover, .sub_nav li a:focus {
  color: #12667C;
}
/*
------------------------------------------------------------------------- sub_navigation Style END HERE
*/



/*
------------------------------------------------------------------------- Body Content Style
*/
.body_container .white {
	background: #FFFFFF;
}

.light {
	background: #FFFFFF;
	border-top: 1px solid #F5F5F5;
}

.dark {
	background: #8D9FAA;
	color: #FFFFFF;
}

.dark h2 {
	color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.page_Heading {
  font-size: 2em;
  margin: 2em auto;
}

.body_container section {
	width: 70%;
	margin: auto;
	padding: 60px 0;
}

code {
  display: block;
  line-height: 2em;
  padding: 1.25em;
  margin-bottom: 1em;
  background-color: #FDFEFF;
  border: 0.1em solid #9CCAD6;
  border-left-width: thick;
}

/*inText_Link*/
.inText_Link {
  color: #82BAC7;
  transition: color  0.5s ease;
}

.inText_Link:hover, .inText_Link:focus {
  color: #12667C;
}

/*main navigation in styleguide*/
.nav_container_styleguide {
  width: 100%;
  height: 63px;
  z-index: 1000;
  padding: 0 2%;
  background: #82BAC7;
  overflow: hidden;
  transition: background-color  0.5s ease;
}

/*button*/
.button_cover {
	position: absolute;
	right: 3%;
	transform: translate(11%, -230%);
}

button, .button {
  border: 1px solid #FFF;
  padding: 0.75em 2em;
	margin: 3em 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: color 0.5s, background-color 0.5s, ease;
}

.button_fill {
  background-color: #82BAC7;
  color: #FFF;
}

.button_unfill {
  background-color: transparent;
  color: #EA8663;
}

.button_fill:hover, .button_fill:focus, .button_unfill:hover, .button_unfill:focus  {
  background-color: #FFF;
  color: #82BAC7;
}


/*image*/
.full_length {
  margin: 0;
  width: 100%;
  position: relative;
}

.image_header {
  height: 40vh;
}

.item_on_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;

  background-color: #D3D3D3;
  padding: 0.5em;
}

#codeRef ul li, #ideaRef ul li {
	margin: 1em 0;
}

#codeRef ul li a, #ideaRef ul li a {
	word-wrap: break-word;
}

/*
------------------------------------------------------------------------- Body Content Style END HERE
*/




/*
------------------------------------------------------------------------- Color Palette Style
*/
.color_item {
  color: #FFF;
  padding: 20px 30px;
}

.color_1 {
  background: #D8CEC1;
}

.color_2 {
  background: #9CCAD6;
}

.color_3 {
  background: #82BAC7	;
}

.color_4 {
  background: #12667C;
}

.color_5 {
  background: #8D9FAA;
}

.color_6 {
  background: #464654;
}

.color_7 {
  background: #484848;
}

.color_8 {
  background: #6A5A98;
}

.color_9 {
  background: #EA8663;
}

/*
------------------------------------------------------------------------- Color Palette Style END HERE
*/




/*
------------------------------------------------------------------------- Page Cover Style
*/
.big_image_header {
	height: 600px;
	position: relative;
	/*background: linear-gradient(to right bottom, #E986F9 30%, #1DD9E5);*/
}

#panwiberry.big_image_header {
	height: 400px;
}

.background_image {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.panwiberry_cover {
	background-image: url("../img/panwiberry/panwiberry_cover.png");
}

.duet_cover {
	background-image: url("../img/duet/duet_cover.png");
	background-position: bottom;
}

.cover_text {
	position: absolute;
	right: 50%;
	top: 30%;
	transform: translate(50%, 30%);
	color: #FFFFFF;
	width: 70%;
	margin: auto;
}

.cover_title {
	font-size: 5em;
	margin: 0;
	line-height: normal;
}

.cover_info {
	font-size: 1em;
	line-height: normal;
}

.home_title, .home_info {
  font-size: 2em;
	margin: 0;
}

.home_info {
	font-size: 1.13em;
}
/*
------------------------------------------------------------------------- Page Cover Style END HERE
*/




/*
------------------------------------------------------------------------- Project List Style
*/
.first_piece_content div {
	/*margin-top: 3em;*/
}

.overlay_container img {
	opacity: 1;
	transition: opacity 0.5s ease;
}

.overlay_container img:hover, .overlay_container img:focus {
	opacity: 0.8;
}

.project_item {
	display: inline-block;
	max-width: 48%;
	margin: 3em 0em;
}

.project_title a, .project_info a {
	color: inherit;
	text-decoration: none;
	transition: color 0.5s ease;
}

.project_info p, .project_info a {
	font-size: 0.85em;
	margin-bottom: 0;
}

.project_info a, .project_item a:hover, .project_item a:focus{
	color: #82BAC7;
}
/*
------------------------------------------------------------------------- Project List Style END HERE
*/


.square_block {
	display: inline-flex;
	margin: 2em 0;
}

.square {
	background: #6A5A98;
	transform:rotate(45deg);
}

.square_small {
	height: 8px;
	width: 8px;
	margin: auto 0.1em;
}

.square_big  {
  height: 15px;
	width: 15px;
	margin: auto 0.1em;
}

.col_1of2 {
	width: 49.5%;
}

.col_img {
	height: 25%;
	width: 25%;
	margin: auto;
	border-radius: 50%;
	border: 1px solid #302624;
	background: #8D9FAA;
}

.col_1of2 p {
	width: 70%;
	margin: -1em auto 2em;
}

.divide_line {
	border-left: 1px dotted #D8CEC1;
}




/*
------------------------------------------------------------------------- Anchor Menu
*/
.side-nav {
	position: sticky;
	position: -moz-box-sticky;
	float: left;
	top: 50%;
	display: block;
	z-index: 50;
	width: 9em;
	transform: translate(0, -50%);
	transition: all 0.5s ease;
}

.side-nav ul {
	list-style: circle;
}

.side-nav a {
	text-decoration: none;
	color: #484848;
	transition: all 0.5s;
	font-size: 0.8em;
}

.side-nav ul li:hover, .side-nav ul li:focus, .side-nav a:hover, .side-nav a:focus {
	color: #9DE4F5;
	list-style: disc;
}
/*
------------------------------------------------------------------------- Anchor Menu END HERE
*/




/*
------------------------------------------------------------------------- Footer
*/
footer {
	background: #464654;
	margin: 0;
	padding-top: 2em;
	height: 200px;
	color: white;
	display: block;
	transition: all 0.5s ease;
}

footer a {
	text-decoration: none;
	color: white;
	font-size: 0.8em;
}

.link_container {
	margin: 1.5em 0 0.5em;
}


.color_item {
	margin: 0.25em;
	text-align: center;
}
