/*media query*/

@media (max-width: 83.125em) {
	.col_1of2 {
		width: 100%;
	}

	.col_img {
		width: 40%;
	}

	.cover_text {
		width: 100%;
		padding: 0 2%;
	}
}

@media (max-width: 65em) {
	.side-nav {
    display: none;
  }
}

@media (max-width: 48em) {
	.nav_container, .home_body_container section, .body_container section {
		width: auto;
		margin: 0 1em;
	}

	.nav_container_styleguide {
		margin: 0;
	}

	img {
		width: 100%;
	}
}

@media (max-width: 41em) {
	.cover_text {
		top: 10%;
	}

	.cover_title {
		font-size: 3.5em;
	}

  .project_item {
    display: block;
    max-width: 100%;
  }

  .button_cover {
  	right: 50%;
  	transform: translate(50%, -230%);
  }
}

@media (max-width: 35em) {
	.nav_container a {
		margin-left: 2%;
	}

	.sub_nav {
		display: none;
	}

	.project_item {
		max-width: 100%;
	}

	.nav_container div.float_left {
		display: block;
		float: inherit;
		text-align: center;
	}

	.nav_container div.float_right {
		width: 100%;
		text-align: center;
	}

	header {
		height: 120px;
		margin: 0;
	}

	div.link_container {
		display: inline-block;
	}

	div.link_container a {
		display: block;
		width: 100%;
	}

	footer{
		padding-top: 1em;
	}
}
