.about-cover {
  position: relative;
  background: #D8CEC1;
  height: 100vh;
}

.svg-img {
  background: #D8CEC1;
  height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}

.e-logo polygon.st147{
  fill: aquamarine;
}

text.home_title, text.home_info {
  font-size: 4em;
	fill: #FFF;
  text-anchor: middle;
}

text.home_info {
	font-size: 1.13em;
}

/*animation*/
.left_eye, .right_eye {
  -moz-animation: blink 5s infinite;
  -webkit-animation: blink 5s infinite;
  animation: blink 5s infinite;

  -moz-transform-origin: 50%;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

/*Standard*/
@keyframes blink {
  /*code reference:https://codepen.io/bfred-it/pen/RNGOQW*/
  97% {
    transform: none;
    animation-timing-function: ease-in;
  }
  98% {
    transform: translateY(3px) scaleY(0.1)
  }
  100% {
    animation-timing-function: ease-out;
  }
}

/*Firefox*/
@-moz-keyframes blink {
  97% {
    -moz-transform: none;
    -moz-animation-timing-function: ease-in;
  }
  98% {
    -moz-transform: translateY(3px) scaleY(0.1)
  }
  100% {
    -moz-animation-timing-function: ease-out;
  }
}

/*Chrome, Opera, Safari*/
@-webkit-keyframes blink {
  97% {
    -webkit-transform: none;
    -webkit-animation-timing-function: ease-in;
  }
  98% {
    -webkit-transform: translateY(3px) scaleY(0.1)
  }
  100% {
    -webkit-animation-timing-function: ease-out;
  }
}

#left-hand {
  -moz-animation: left-hand-move  5s infinite;
  -webkit-animation: left-hand-move  5s infinite;
  animation: left-hand-move  5s infinite;

  -moz-transform-origin: center 80%;
  -webkit-transform-origin: center 80%;
  transform-origin: center 80%;
}

@-moz-keyframes left-hand-move {
  0% {
    -moz-transform: rotate(-2deg);
  }
  50% {
    -moz-transform: rotate(2deg);
  }
  100% {
    -moz-transform: rotate(-2deg);
  }
}
@-webkit-keyframes left-hand-move {
  0% {
    -webkit-transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
  }
}
@keyframes left-hand-move {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

#right-hand {
  -moz-animation: right-hand-move 3s infinite;
  -webkit-animation: right-hand-move 3s infinite;
  animation: right-hand-move 3s infinite;

  -moz-transform-origin: center 65%;
  -webkit-transform-origin: center 65%;
  transform-origin: center 65%;
}

@-moz-keyframes right-hand-move {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(1deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes right-hand-move {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes right-hand-move {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


svg.svg-img g.head {
  -moz-animation: head-move 15s infinite;
  -webkit-animation: head-move 15s infinite;
  animation: head-move 15s infinite;

  -moz-transform-origin: 50%;
  -webkit-transform-origin: 50%;
  transform-origin: center 60%;

  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@-moz-keyframes head-move {
  0% {
    -moz-transform: rotate(-5deg);
  }
  30% {
    -moz-transform: rotate(1deg);
  }
  50% {
    -moz-transform: rotate(1deg);
  }
  80% {
    -moz-transform: rotate(5deg);
  }
  100% {
    -moz-transform: rotate(-5deg);
  }
}
@-webkit-keyframes head-move {
  0% {
    -webkit-transform: rotate(-5deg);
  }
  30% {
    -webkit-transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
  }
}
@keyframes head-move {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bloom {
  animation-name: bloom;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  transform-origin: 50%;
}

@keyframes bloom {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.big-flower {
  animation-name: big-bloom;
  animation-duration: 18s;
}

@keyframes big-bloom {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}
