.about-cover {
  position: relative;
  background: linear-gradient(#D8CEC1, #C2B2BD);
  background: -webkit-linear-gradient(#D8CEC1, #C2B2BD);
  background: -moz-linear-gradient(#D8CEC1, #C2B2BD);
  height: 100vh;
}

.svg-img {
  background: linear-gradient(#D8CEC1, #C2B2BD);
  background: -webkit-linear-gradient(#D8CEC1, #C2B2BD);
  background: -moz-linear-gradient(#D8CEC1, #C2B2BD);
  height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}

.e-logo polygon.st147{
  fill: aquamarine;
}

text.home_title, text.home_info {
  font-size: 4em;
	fill: #FFF;
  text-anchor: middle;
}

text.home_info {
	font-size: 1.13em;
}

/*
  ------------------------------------------------------------ Animation
*/
/*about cover svg eye blink*/
div.about-cover .left_eye, div.about-cover .right_eye {
  -webkit-animation: blink 5s infinite;
  -moz-animation: blink 5s infinite;
  animation: blink 5s infinite;

  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
}
/*Chrome, Opera, Safari*/
@-webkit-keyframes blink {
  97% {
    -webkit-transform: none;
    -webkit-animation-timing-function: ease-in;
  }
  98% {
    -webkit-transform: translateY(3px) scaleY(0.1)
  }
  100% {
    -webkit-animation-timing-function: ease-out;
  }
}
/*Firefox*/
@-moz-keyframes blink {
  97% {
    -moz-transform: none;
    -moz-animation-timing-function: ease-in;
  }
  98% {
    -moz-transform: translateY(75px) scaleY(0.1);
  }
  100% {
    -moz-animation-timing-function: ease-out;
  }
}




/*profile image eye blink*/
div.home_body_container g.left_eye, div.home_body_container g.right_eye {
  -webkit-animation: profile-blink 8s infinite;
  -moz-animation: profile-blink 8s infinite;
  animation: profile-blink 8s infinite;

  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
}
/*Chrome, Opera, Safari*/
@-webkit-keyframes profile-blink {
  97% {
    -webkit-transform: none;
    -webkit-animation-timing-function: ease-in;
  }
  98% {
    -webkit-transform: translateY(3px) scaleY(0.1)
  }
  100% {
    -webkit-animation-timing-function: ease-out;
  }
}
/*Firefox*/
@-moz-keyframes profile-blink {
  97% {
    -moz-transform: none;
    -moz-animation-timing-function: ease-in;
  }
  98% {
    -moz-transform: translateY(10px) scaleY(0.1);
  }
  100% {
    -moz-animation-timing-function: ease-out;
  }
}




/*hands*/
#left-hand {
  -webkit-animation: left-hand-move  10s infinite;
  -moz-animation: left-hand-move  10s infinite;
  animation: left-hand-move  10s infinite;

  -webkit-transform-origin: center 80%;
  -moz-transform-origin: center 80%;
  transform-origin: center 80%;
}
@-webkit-keyframes left-hand-move {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg) translate(0, -5px);
  }
  80% {
    -webkit-transform: translate(-5px, 0);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes left-hand-move {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(2deg) translate(0, -5px);
  }
  80% {
    -moz-transform: rotate(2deg) translate(-5px, 0);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
/*@keyframes left-hand-move {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg) translate(0, -5px);
  }
  80% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: rotate(-2deg);
  }
}*/

#right-hand {
  -webkit-animation: right-hand-move 10s infinite;
  -moz-animation: right-hand-move 10s infinite;
  animation: right-hand-move 10s infinite;

  -webkit-transform-origin: center 65%;
  -moz-transform-origin: center 65%;
  transform-origin: center 65%;
}
@-webkit-keyframes right-hand-move {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg) translate(0, -5px);
  }
  80% {
    -webkit-transform: translate(-5px);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes right-hand-move {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(-2deg)  translate(0, -5px);
  }
  80% {
    -moz-transform: rotate(2deg) translate(-3px, 0);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
/*@keyframes right-hand-move {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg) translate(0, -5px);
  }
  80% {
    transform: translate(-5px);
  }
  100% {
    transform: rotate(0deg);
  }
}*/




/*head moving animation*/
svg.svg-img g.front-head, svg.svg-img g.back_hair {
  -webkit-animation: head-move 10s infinite;
  -moz-animation: head-move 10s infinite;
  animation: head-move 10s infinite;

  -webkit-transform-origin: 60%;
  -moz-transform-origin: 60%;
  transform-origin: center 60%;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
@-webkit-keyframes head-move {
  0% {
    -webkit-transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-1.4deg);
  }
  50% {
    -webkit-transform: rotate(-1.4deg);
  }
  80% {
    -webkit-transform: rotate(1.55deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes head-move {
  0% {
    -moz-transform: rotate(0deg);
  }
  30% {
    -moz-transform: rotate(-1.4deg);
  }
  50% {
    -moz-transform: rotate(-1.4deg);
  }
  80% {
    -moz-transform: rotate(1.55deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@keyframes head-move {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-1.4deg);
  }
  50% {
    transform: rotate(-1.4deg);
  }
  80% {
    transform: rotate(1.55deg);
  }
  100% {
    transform: rotate(0deg);
  }
}





/*flower blooming animation in Chrome, Opera, Safari only*/
g.bloom, g.big-flower {
  -webkit-animation: bloom 15s infinite;
  -moz-animation: none;

  -webkit-transform-origin: center;
  -moz-transform-origin: 0;
}
/*do this animation in Chrome, Opera, Safari only*/
@-webkit-keyframes bloom {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
  }
}

.big-flower {
  -webkit-animation: big-bloom 18s infinite;
  -moz-animation: none;
}
/*do this animation in Chrome, Opera, Safari only*/
@keyframes big-bloom {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
  70% {
    -webkit-transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
  }
}
