- var pageTitle = "Eva Li | Panwiberry"
- var logo = "../"

doctype html
html(lang="en")
  include preProcess/head.pug
  
  body
    // Header
    header
      nav(id="topNav" class="nav_container")
        // Personal Logo
        
        a(href="index.html" class="float_left"): img(src="_work/img/logo.png" alt="Eva Li's Logo" class="logo")
            
        a(href="index.html" class="float_left"): h1 Eva Li
        // Personal Logo
        
        // Site navigation tabs
        div(class="float_right")
        
          a(href="index.html#home") HOME
          
          a(href="index.html#portfolio" class="current_page") PORTFOLIO 
          
          a(href="index.html#about") ABOUT 
        // Site navigation tabs
    // Header END HERE
    
    // Page Cover
    section#panwiberry(class="big_image_header")
      div(class="background_image panwiberry_cover")
      
      div(class="cover_text center_align")
        p(class="cover_title") Panwiberry
        p(class="cover_info") Planning and managing App enhancing member commuication, relationship and motivation.
    // Page Cover END HERE
    
    
    // Side Anchor Menu
    div(class="side-nav")
      ul
        li 
          a(href="#panwiberry") Top of page
        li
          a(href="#project-overview") Project Overview
        li
          a(href="#data-collection") Data Collection
        li
          a(href="#persona") Personas
        li
          a(href="#cultural-probe") Cultural Probe
        li
          a(href="#user-flow") User Flow
        li
          a(href="#modified-user-flow") Modified Flow
        li
          a(href="#result") Final Result
        li
          a(href="#reflection") My Reflection
        li
          a(href="#other-projects") Other Projects  
    // Side Anchor Menu END HERE
    
    // Body Content
    section(class="body_container white")
      section#project-overview(class="first_piece_content")
        div(class="center_align")
          include preProcess/squareDeco.pug
          h2 PROJECT OVERVIEW
          
          // Project Brief
          h3 Problem:
          p The members of Panwiberry dance crew lacks communication and practice motivations, which drops their team spirits for performance.
          
          h3 Solution:
          p A mobile App to aid the members' form of communication, boost members' morality and motivation in order to improve their relationship and team spirits for a better dance performance.
          
          h3 My Roles:
          p User research, User Interviews, User Analysis, Persona Creation, Cultural Probe Creation, User Journey Flow, Wireframing, and Prototyping.
          
          h3 Tools Used:
          p MS Word (Research Documentation &amp; Analysis), Adobe Illustrator CC (Research posters include Analysis, Cultural Probe, User Flow), and Proto.io (Wireframes &amp; Prototype).
          
          
    // Participant Ethnography Data Collection section
    section(class="body_container dark")
      section#data-collection
        div(class="center_align")
          include preProcess/squareDeco.pug
          h2(class="center_align") PROCESS
          h3(class="center_align") · &nbsp;&nbsp;Participant Ethnography Data Collection&nbsp;&nbsp; ·
          
          p I studied the members within the group's first weekly practice meeting for 5 hours. The data collected includes the group's culture, members' values towards the group, their behaviours around each other, and the kind of language and tone used in the activity. In order to find the data, I closely observed the members in person by taking photography and video recording, and then interviewed them about their status in the club and their thoughts during their practice activity. These data are then used to develop a design focus and a thematic analysis for the group.
          
          figure
            img(src="_work/img/panwiberry/Ethnography-Data.png" alt="A research poster of a dance crew ethnography data collection")
            figcaption Data Collection Methods for Participant Ethnography.
            
          figure
            img(src="_work/img/panwiberry/Ethnography-Data-2.png" alt="A research poster of a dance crew ethnography data collection")
            figcaption Analysis for Data Collected.
            
          figure
            img(src="_work/img/panwiberry/Ethnography-Data-3.png" alt="A research poster of a dance crew ethnography data collection")
            figcaption Participants in Ethnography Data Collection.
            
            
    // Personas section
    section(class="body_container light")
      section#persona
        div(class="center_align")
          h3(class="center_align") · &nbsp;&nbsp;Personas&nbsp;&nbsp; ·
          
          p From the data collected and the analysis about the participant group's behaviours and activities, three personas are been formed in three levels to represent the participants as the end users.
          
          p 1.	Selina Lee: female, lead dancer. Frustrations: forget steps, poor eyesight
          p 2.	Aurora Pierre: female, experienced dancer. Frustrations: new environment, language barrier
          p 3.	Steve Wong: male, beginner. Frustrations: new environment, shy, nervous
          
          figure
            img(src="_work/img/panwiberry/Persona-1a.png" alt="Persona - Selina Lee representing the lead dancer group.")
            figcaption Selina Lee representing the lead dancer group.
            
          figure
            img(src="_work/img/panwiberry/Persona-1b.png" alt="Persona - Selina Lee representing the lead dancer group.")
            figcaption Selina Lee representing the lead dancer group
            
          figure
            img(src="_work/img/panwiberry/Persona-2a.png" alt="Persona - Aurora Pierre representing the experienced dancer group.")
            figcaption Aurora Pierre representing the experienced dancer group.
            
          figure
            img(src="_work/img/panwiberry/Persona-2b.png" alt="Persona - Aurora Pierre representing the experienced dancer group.")
            figcaption Aurora Pierre representing the experienced dancer group.
            
          figure
            img(src="_work/img/panwiberry/Persona-3a.png" alt="Persona - Steve Wong representing the beginner dancer group.")
            figcaption Steve Wong representing the beginner dancer group.
            
          figure
            img(src="_work/img/panwiberry/Persona-3b.png" alt="Persona - Steve Wong representing the beginner dancer group.")
            figcaption Steve Wong representing the beginner dancer group.
          
          
          
    // Cultural Probe section
    section(class="body_container dark")
      section#cultural-probe
        div(class="center_align")
          h3(class="center_align") · &nbsp;&nbsp;Cultural Probe&nbsp;&nbsp; ·
          
          p Having the end users in mind, I designed a set of customized booklet specifically for each participant to complete individually within a week. These customized booklets contain questions asking about their personal values toward the group, their personality, daily behaviour patterns, and motivation. The goal is to better engage and develop a better relationship between our research group and the participants. The result is then used to refine design focus.
          
          figure
            img(src="_work/img/panwiberry/probe_1.png" alt="Bottle Star Questionnaire")
            
          figure
            img(src="_work/img/panwiberry/probe_2.png" alt="Favorite dance group Questionnaire")
            
          figure
            img(src="_work/img/panwiberry/probe_3.png" alt="Favorite dance group details testing")
          
          figure
            img(src="_work/img/panwiberry/probe_4.png" alt="Favorite dance group deeper details")
            
          figure
            img(src="_work/img/panwiberry/probe_5.png" alt="Design dance move question")
                
          figure
            img(src="_work/img/panwiberry/probe_6.png" alt="Design Team Logo question")
              
          figure
            img(src="_work/img/panwiberry/probe_7.png" alt="Testing team bonding with memories")
            
          figure
            img(src="_work/img/panwiberry/probe_8.png" alt="Letter Interacation")
            
          figure
            img(src="_work/img/panwiberry/probe_9.png" alt="Daily Dairy Questionnaire")
              
              
                        
    // User Journey Flow section
    section(class="body_container light")
      section#user-flow
        div(class="center_align")
          h3(class="center_align") · &nbsp;&nbsp;User Journey Flow&nbsp;&nbsp; ·
          
          p There are three proposals that aimed at different design focus.

          figure
            img(src="_work/img/panwiberry/concept_1a.png" alt="1/3 of first idea user flow")
            figcaption The first idea part 1: a mobile app.
            
          figure
            img(src="_work/img/panwiberry/concept_1b.png" alt="1/3 of first idea user flow")
            figcaption The first idea part 2: a mobile app.
          
          figure
            img(src="_work/img/panwiberry/concept_1c.png" alt="1/3 of first idea user flow")
            figcaption The first idea part 3: a mobile app.
              
          figure
            img(src="_work/img/panwiberry/framework_1.png" alt="Full user flow of first idea")
            figcaption The first idea: a mobile app.
            
          figure
            img(src="_work/img/panwiberry/concept_2a.png" alt="1/3 of second idea user flow")
            figcaption The second idea part 1: hologram videos.
            
          figure
            img(src="_work/img/panwiberry/concept_2b.png" alt="1/3 of second idea user flow")
            figcaption The second idea part 2: hologram videos.
          
          figure
            img(src="_work/img/panwiberry/concept_2c.png" alt="1/3 of second idea user flow")
            figcaption The second idea part 3: hologram videos.
              
          figure
            img(src="_work/img/panwiberry/framework_2.png" alt="Full user flow of second idea")
            figcaption The second idea: hologram videos.
              
          figure
            img(src="_work/img/panwiberry/concept_3a.png" alt="1/2 of first idea user flow")
            figcaption The third idea part 1: a wrist device.
            
          figure
            img(src="_work/img/panwiberry/concept_3b.png" alt="1/2 of first idea user flow")
            figcaption The third idea part 2: a wrist device.
          
          figure
            img(src="_work/img/panwiberry/framework_3.png" alt="Full user flow of third idea")
            figcaption The third idea part 2: a wrist device.
              
              
              
    // Modified User Journey Flow section
    section(class="body_container dark")
      section#modified-user-flow
        div(class="center_align")
          h3(class="center_align") · &nbsp;&nbsp;Modified User Journey Flow&nbsp;&nbsp; ·
          
          p Each concept has an in-depth of journey framework from 3 perspectives of 3 different roles in the group (general member, leader, designer), explaining how different end users would use the design and how they would feel during the action.
          
          figure
            img(src="_work/img/panwiberry/app_1.png" alt="First app idea: Panwiberry app concept.")
            img(src="_work/img/panwiberry/app_1_framework.png" alt="First app idea: Panwiberry app concept.")
            figcaption The first idea: a mobile app for member communication, planning and managing performance selection and rehearsal.
            
          figure
            img(src="_work/img/panwiberry/app_2.png" alt="Second app idea: Mediator app concept.")
            img(src="_work/img/panwiberry/app_2_framework.png" alt="Second app idea: Panwiberry app concept.")
            figcaption The second idea: a wrist device for communication.

            
    // Final Result section
    section(class="body_container light")
      section#result
        div(class="center_align")
          h3(class="center_align") · &nbsp;&nbsp;Final Result&nbsp;&nbsp; ·
          
          p

          figure
            img(src="_work/img/panwiberry/result_1.png" alt="Design mockup display.")
            img(src="_work/img/panwiberry/result_2.png" alt="Design mockup display.")
            img(src="_work/img/panwiberry/result_3.png" alt="Design mockup display.")
            img(src="_work/img/panwiberry/result_4.png" alt="Design mockup display.")
            img(src="_work/img/panwiberry/result_5.png" alt="Design mockup display.")
            img(src="_work/img/panwiberry/result_6.png" alt="Design mockup display.")
            img(src="_work/img/panwiberry/result_7.png" alt="Design mockup display.")
                      
                      
    // Reflection section
    section(class="body_container dark")
      section#reflection
        div(class="center_align")
          h3(class="center_align") · &nbsp;&nbsp;My Reflection&nbsp;&nbsp; ·
          
          p Although there was a lot of data to be collected and analyzed, I found this project very interesting and engaging. This is one of the first experience allowed me to work closely with the end users, where they also acted as the stakeholders. I liked the experience of helping the end users to solve a problem, and getting feedback from them to improve the usability in the way they preferred.
          
          p Through this project, I have learnt new ways to study and analysis audiences to gain better user experience and efficient user interfaces for the targeted end users. In the future, I hope I can some opportunities to work on developing apps, not just staying at the stage of prototyping app.
        
    
    
    // Other Projects section
    section(class="body_container light")
      section#other-projects
        div(class="center_align")
          h3(class="center_align") · &nbsp;&nbsp;Other Projects&nbsp;&nbsp; ·
          
          div(class="project_list")
            div(class="project_container")
              // 1
              div(class="project_item")
                figure(class="overlay_container")
                  a(href="panwiberry.html")
                    img(src="_work/img/panwiberry/panwiberry.png" alt="overview of Panwiberry Dance Club app")
                      
                div(class="project_title")
                  a(href="panwiberry.html") Panwoberry App (UX/UI Design)
                div(class="project_info")
                  p A planning and managing mobile App enhancing member communication, relationship and motivation.
                  a(href="panwiberry.html" title="panwiberry link") Read More &#8594;
              
              // 2
              div(class="project_item")
                figure(class="overlay_container")
                  a(href="duet.html")
                    img(src="_work/img/duet/duet.jpg" alt="overview of Panwiberry Dance Club app")
                      
                div(class="project_title")
                  a(href="duet.html") Duet App (UX/UI Design)
                div(class="project_info")
                  p A distance relationship managing App to manage, maintain and improve relationship.
                  a(href="duet.html" title="duet link") Read More &#8594;
            
            
            
    include preProcess/footer.pug
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
