footer(class="center_align")
  p(class="home_title") EVA LI
  p(class="home_info") yla312@sfu.ca | 778-928-1378

  div(class="link_container")
  a(href="styleGuide.html") &nbsp;&nbsp; 路 &nbsp;&nbsp;Style Guide&nbsp;&nbsp;&nbsp;&nbsp;
  a(href="http://github.com/EvaLi115/P03_Portfolio")  路 &nbsp;&nbsp;&nbsp;&nbsp;Git Repo&nbsp;&nbsp;&nbsp;&nbsp;  路 
  a(href="https://yla312.wixsite.com/evali") &nbsp;&nbsp;&nbsp;&nbsp;Prior Portfolio&nbsp;&nbsp; 路 &nbsp;&nbsp;
