// Header
header
  nav(id="topNav" class="nav_container")
    // Personal Logo
    div(class="float_left")
      a(href="index.html"): img(src="_work/img/logo.png" alt="Eva Li's Logo" class="logo")
          
      a(href="index.html"): h1 Eva Li
    // Personal Logo
    
    // Site navigation tabs
    div(class="float_right")
    
      a(href="index.html#home" class="current_page") HOME
      
      a(href="index.html#portfolio") PORTFOLIO 
      
      a(href="index.html#about") ABOUT 
    // Site navigation tabs
// Header END HERE
