head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(charset="utf-8")

  title=pageTitle

  link(rel="icon" href="_work/img/logo_icon.ico")
  link(rel="stylesheet" href="_work/css/main.css")
  link(rel="stylesheet" href="_work/css/query.css")
  link(rel="stylesheet" href="_work/css/flexbox.css")
  link(rel="stylesheet" href="_work/css/svg.css")
