// Page Cover
section#duet(class="big_image_header")
  div(class="background_image " + projectCover)

  div(class="cover_text center_align")
    p(class="cover_title")=projectName
    p(class="cover_info")=projectDescription
// Page Cover END HERE
