// Other Projects section
div(class="body_container light")
  section#other-projects
    div(class="center_align")
      h3 · &nbsp;&nbsp;Other Projects&nbsp;&nbsp; ·

    div(class="project_list")
      div(class="project_container")
        // 1
        div(class="project_item")
          figure(class="overlay_container")
            a(href="panwiberry.html")
              img(src="_work/img/panwiberry/panwiberry.png" alt="overview of Panwiberry Dance Club app")

          div(class="project_title")
            a(href="panwiberry.html") Panwoberry App (UX/UI Design)
          div(class="project_info")
            p A planning and managing mobile App enhancing member communication, relationship and motivation.
            a(href="panwiberry.html" title="panwiberry link" class="inText_Link") Read More &#8594;

        // 2
        div(class="project_item")
          figure(class="overlay_container")
            a(href="duet.html")
              img(src="_work/img/duet/duet.jpg" alt="overview of Panwiberry Dance Club app")

          div(class="project_title")
            a(href="duet.html") Duet App (UX/UI Design)
          div(class="project_info")
            p A distance relationship managing App to manage, maintain and improve relationship.
            a(href="duet.html" title="duet link" class="inText_Link") Read More &#8594;
