div(class="square_block float_left")
  div(class="square square_big")
  div(class="square square_small")


div(class="square_block float_right")
  div(class="square square_small")
  div(class="square square_big")
